{% extends "components/base.html" %}

{% block pageTitle %}
    Create New DNS Record
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink ({
'text': 'Back',
'href': '/'
}) }}
{% endblock %}

{% block content %}
{{ super() }}

<h1 class="govuk-heading-xl">Create or Change a DNS Record</h1>

<p class="govuk-body">
  Please complete this form to the best of your ability. Use the "Further information" free text box 
  at the bottom of the page to provide any additional details or if you are unsure which of the optional 
  fields to use. We will contact you if necessary.
</p>

<form action="/create-record" method="POST">
  {{ govukInput({
    'label': {
      'text': "Requestor Name",
      'classes': "govuk-label--m"
    },
    'hint': {
        'text': 'Enter your full name'
    },
    'classes': "govuk-!-width-full",
    'id': "requestor_name",
    'name': "requestor_name",
    'value': form_data.get('requestor_name', '') if form_data else '',
    'errorMessage': errors.get('requestor_name') and {
      'text': errors['requestor_name']
    } if errors else ''

  }) }}

  {{ govukInput({
    'label': {
      'text': "Requestor Email",
      'classes': "govuk-label--m"
    },
    'hint': {
        'text': 'Enter your email address'
    },
    'classes': "govuk-!-width-full",
    'id': "requestor_email",
    'name': "requestor_email",
    'type': "email",
    'value': form_data.get('requestor_email', '') if form_data else '',
    'errorMessage': errors.get('requestor_email') and {
      'text': errors['requestor_email']
    } if errors else ''
  }) }}

  {{ govukInput({
    'label': {
      'text': "MoJ Service Owner (optional)"
    },
    'hint': {
        'text': 'Enter the name of the MoJ Service Owner'
    },
    'classes': "govuk-!-width-full",
    'id': "service_owner",
    'name': "service_owner"
  }) }}

  {{ govukInput({
    'label': {
      'text': "Service Area Name (optional)"
    },
    'hint': {
        'text': 'Enter the name of the Service Area'
    },
    'classes': "govuk-!-width-full",
    'id': "service_area",
    'name': "service_area"
  }) }}

  {{ govukInput({
    'label': {
      'text': "DNS Record (optional)"
    },
    'hint': {
        'text': 'Enter the full DNS record (e.g., example-record.courtfinder.service.gov.uk)'
    },
    'classes': "govuk-!-width-full",
    'id': "dns_record",
    'name': "dns_record",
    'value': form_data.get('dns_record', '') if form_data else '',
    'errorMessage': errors.get('dns_record') and {
      'text': errors['dns_record']
    } if errors else ''
  }) }}

  {{ govukInput({
    'label': {
      'text': "TTL (Time to Live) (optional)"
    },
    'hint': {
        'text': 'Enter the TTL value for the record'
    },
    'classes': "govuk-!-width-full",
    'id': "ttl",
    'name': "ttl"
  }) }}

  {{ govukSelect({
    'id': "record_type",
    'name': "record_type",
    'label': {
      'text': "DNS Record Type (optional)"
    },
    'hint': {
        'text': 'Select the type of DNS record required'
    },
    'items': [
      {
        'text': "Please select...",
        'selected': true
      },
      {
        'value': "ns",
        'text': "NS"
      },
      {
        'value': "a",
        'text': "A"
      },
      {
        'value': "mx",
        'text': "MX"
      },
      {
        'value': "cname",
        'text': "CNAME"
      },
      {
        'value': "txt",
        'text': "TXT"
      },
      {
        'value': "alias",
        'text': "Route53Provider/ALIAS"
      }
    ]
  }) }}

  <div id="nsValuesContainer" style="display: none;">
    {{ govukTextarea({
      'name': "ns_values",
      'id': "ns_values",
      'label': {
        'text': "NS Values"
      },
      'hint': {
          'text': 'Enter the name servers, separated by commas'
      },
      'rows': "2"
    }) }}
  </div>

  <div id="aValueContainer" style="display: none;">
    {{ govukInput({
      'label': {
        'text': "A Record Value"
      },
      'hint': {
          'text': 'Enter the IPv4 address for the A record'
      },
      'classes': "govuk-!-width-full",
      'id': "a_value",
      'name': "a_value"
    }) }}
  </div>

  <div id="mxValueContainer" style="display: none;">
    {{ govukTextarea({
      'name': "mx_values",
      'id': "mx_values",
      'label': {
        'text': "MX Values"
      },
      'hint': {
          'text': 'Enter the MX records, one per line, with priority and mail server (e.g., "10 mail.example.com.")'
      }
    }) }}
  </div>

  <div id="cnameValueContainer" style="display: none;">
    {{ govukInput({
      'label': {
        'text': "CNAME Value"
      },
      'hint': {
          'text': 'Enter the canonical name for the CNAME record'
      },
      'classes': "govuk-!-width-full",
      'id': "cname_value",
      'name': "cname_value"
    }) }}
  </div>

  <div id="txtValueContainer" style="display: none;">
    {{ govukTextarea({
      'name': "txt_value",
      'id': "txt_value",
      'label': {
        'text': "TXT Value"
      },
      'hint': {
          'text': 'Enter the TXT value'
      }
    }) }}
  </div>

  <div id="aliasValuesContainer" style="display: none;">
    {{ govukInput({
      'label': {
        'text': "Evaluate Target Health"
      },
      'hint': {
          'text': 'Enter true or false'
      },
      'classes': "govuk-!-width-full",
      'id': "evaluate_target_health",
      'name': "evaluate_target_health"
    }) }}
    {{ govukInput({
      'label': {
        'text': "Hosted Zone ID"
      },
      'hint': {
          'text': 'Enter the hosted zone ID'
      },
      'classes': "govuk-!-width-full",
      'id': "hosted_zone_id",
      'name': "hosted_zone_id"
    }) }}
    {{ govukInput({
      'label': {
        'text': "Alias Name"
      },
      'hint': {
          'text': 'Enter the alias name'
      },
      'classes': "govuk-!-width-full",
      'id': "alias_name",
      'name': "alias_name"
    }) }}
    {{ govukInput({
      'label': {
        'text': "Alias Type"
      },
      'hint': {
          'text': 'Enter the alias type'
      },
      'classes': "govuk-!-width-full",
      'id': "alias_type",
      'name': "alias_type"
    }) }}
  </div>

    {{ govukSelect({
    'id': "deploy_time",
    'name': "deploy_time",
    'label': {
      'text': "Select a Date for Your Change (optional)"
    },
    'hint': {
        'text': 'For example, 21/09/2024'
    },
    'items': [
      {
        'value': "ASAP",
        'text': "ASAP",
        'selected': true
      },
      {
        'value': "specific_date",
        'text': "Specific Date"
      }
    ]
  }) }}

  <div id="dateSelectionContainer" style="display: none;">
    {{ govukInsetText({
      'text': "Please note, if you select a date outside of normal working hours, we may reach out to receive justification for this request as we do not typically support changes out of hours."
    }) }}

    {{ govukDateInput({
      'id': "change_date",
      'namePrefix': "change_date"
    }) }}
  </div>

  {{ govukCharacterCount({
    'name': "further_info",
    'id': "further_info",
    'maxwords': 200,
    'label': {
      'text': "Further information",
      'classes': "govuk-label--m"
    },
    'hint': {
        'text': 'Please provide any further information required to help us complete your request'
    }
  }) }}


  {{ govukButton({
    'text': "Submit"
  }) }}
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var recordType = document.getElementById('record_type');
    var dateSelection = document.getElementById('deploy_time');

    var dateSelectionContainer = document.getElementById('dateSelectionContainer');
    var nsValuesContainer = document.getElementById('nsValuesContainer');
    var aValueContainer = document.getElementById('aValueContainer');
    var mxValueContainer = document.getElementById('mxValueContainer');
    var cnameValueContainer = document.getElementById('cnameValueContainer');
    var txtValueContainer = document.getElementById('txtValueContainer');
    var aliasValuesContainer = document.getElementById('aliasValuesContainer');

    function toggleRecordValueContainer() {
      nsValuesContainer.style.display = 'none';
      aValueContainer.style.display = 'none';
      mxValueContainer.style.display = 'none';
      cnameValueContainer.style.display = 'none';
      txtValueContainer.style.display = 'none';
      aliasValuesContainer.style.display = 'none';

      if (recordType.value === 'ns') {
        nsValuesContainer.style.display = 'block';
      } else if (recordType.value === 'a') {
        aValueContainer.style.display = 'block';
      } else if (recordType.value === 'mx') {
        mxValueContainer.style.display = 'block';
      } else if (recordType.value === 'cname') {
        cnameValueContainer.style.display = 'block';
      } else if (recordType.value === 'txt') {
        txtValueContainer.style.display = 'block';
      } else if (recordType.value === 'alias') {
        aliasValuesContainer.style.display = 'block';
      }
    }

    function toggleDateSelectionContainer() {
      dateSelectionContainer.style.display = 'none';

      if (dateSelection.value === 'specific_date') {
        dateSelectionContainer.style.display = 'block';
      }
    }

    recordType.addEventListener('change', toggleRecordValueContainer);
    dateSelection.addEventListener('change', toggleDateSelectionContainer);


    // Initialise the form with the correct containers displayed
    toggleRecordValueContainer();
    toggleDateSelectionContainer();
  });
</script>

{% endblock %}
