{% extends "components/base.html" %}

{% block pageTitle %}
    Create New DNS Record
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink ({
'text': 'Back',
'href': '/'
}) }}
{% endblock %}

{% block content %}
{{ super() }}

<h1 class="govuk-heading-xl">Create or Change a DNS Record</h1>

<p class="govuk-body">
  Please complete this form to the best of your ability. Use the "Further information" free text box 
  at the bottom of the page to provide any additional details or if you are unsure which of the optional 
  fields to use. We will contact you if necessary.
</p>

<form action="/create-record" method="POST">
  {{ govukInput({
    'label': {
      'text': "Requestor Name",
      'classes': "govuk-label--m"
    },
    'hint': {
        'text': 'Enter your full name'
    },
    'classes': "govuk-!-width-full",
    'id': "requestor_name",
    'name': "requestor_name",
    'value': form_data.get('requestor_name', '') if form_data else '',
    'errorMessage': errors.get('requestor_name') and {
      'text': errors['requestor_name']
    } if errors else ''

  }) }}

  {{ govukInput({
    'label': {
      'text': "Requestor Email",
      'classes': "govuk-label--m"
    },
    'hint': {
        'text': 'Enter your email address'
    },
    'classes': "govuk-!-width-full",
    'id': "requestor_email",
    'name': "requestor_email",
    'type': "email",
    'value': form_data.get('requestor_email', '') if form_data else '',
    'errorMessage': errors.get('requestor_email') and {
      'text': errors['requestor_email']
    } if errors else ''
  }) }}


  {{ govukCharacterCount({
    'name': "request_details",
    'id': "request_details",
    'maxwords': 200,
    'label': {
      'text': "Request Details",
      'classes': "govuk-label--m"
    },
    'hint': {
        'text': 'Please provide any further information required to help us complete your request'
    }
  }) }}


  {{ govukButton({
    'text': "Submit"
  }) }}
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var recordType = document.getElementById('record_type');
    var dateSelection = document.getElementById('deploy_time');

    var dateSelectionContainer = document.getElementById('dateSelectionContainer');
    var nsValuesContainer = document.getElementById('nsValuesContainer');
    var aValueContainer = document.getElementById('aValueContainer');
    var mxValueContainer = document.getElementById('mxValueContainer');
    var cnameValueContainer = document.getElementById('cnameValueContainer');
    var txtValueContainer = document.getElementById('txtValueContainer');
    var aliasValuesContainer = document.getElementById('aliasValuesContainer');

    function toggleRecordValueContainer() {
      nsValuesContainer.style.display = 'none';
      aValueContainer.style.display = 'none';
      mxValueContainer.style.display = 'none';
      cnameValueContainer.style.display = 'none';
      txtValueContainer.style.display = 'none';
      aliasValuesContainer.style.display = 'none';

      if (recordType.value === 'ns') {
        nsValuesContainer.style.display = 'block';
      } else if (recordType.value === 'a') {
        aValueContainer.style.display = 'block';
      } else if (recordType.value === 'mx') {
        mxValueContainer.style.display = 'block';
      } else if (recordType.value === 'cname') {
        cnameValueContainer.style.display = 'block';
      } else if (recordType.value === 'txt') {
        txtValueContainer.style.display = 'block';
      } else if (recordType.value === 'alias') {
        aliasValuesContainer.style.display = 'block';
      }
    }

    function toggleDateSelectionContainer() {
      dateSelectionContainer.style.display = 'none';

      if (dateSelection.value === 'specific_date') {
        dateSelectionContainer.style.display = 'block';
      }
    }

    recordType.addEventListener('change', toggleRecordValueContainer);
    dateSelection.addEventListener('change', toggleDateSelectionContainer);


    // Initialise the form with the correct containers displayed
    toggleRecordValueContainer();
    toggleDateSelectionContainer();
  });
</script>

{% endblock %}
