{% extends "components/base.html" %}

{% block pageTitle %}
    Create New DNS Record
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink ({
'text': 'Back',
'href': '/'
}) }}
{% endblock %}

{% block content %}
{{ super() }}

<h1 class="govuk-heading-xl">Create or Change a DNS Record</h1>

<p class="govuk-body">
  Use the "Request Details" free text box at the bottom of the page to provide details of the change(s) required.
</p>

<form action="/create-record" method="POST">
  {{ govukInput({
    'label': {
      'text': "Requestor Name",
      'classes': "govuk-label--m"
    },
    'hint': {
        'text': 'Enter your full name'
    },
    'classes': "govuk-!-width-full",
    'id': "requestor_name",
    'name': "requestor_name",
    'value': form_data.get('requestor_name', '') if form_data else '',
    'errorMessage': errors.get('requestor_name') and {
      'text': errors['requestor_name']
    } if errors else ''

  }) }}

  {{ govukInput({
    'label': {
      'text': "Requestor Email",
      'classes': "govuk-label--m"
    },
    'hint': {
        'text': 'Enter your email address'
    },
    'classes': "govuk-!-width-full",
    'id': "requestor_email",
    'name': "requestor_email",
    'type': "email",
    'value': form_data.get('requestor_email', '') if form_data else '',
    'errorMessage': errors.get('requestor_email') and {
      'text': errors['requestor_email']
    } if errors else ''
  }) }}


  {{ govukCharacterCount({
    'name': "request_details",
    'id': "request_details",
    'maxwords': 200,
    'label': {
      'text': "Request Details",
      'classes': "govuk-label--m"
    },
    'hint': {
        'text': 'Please provide any further information required to help us complete your request'
    }
  }) }}


  {{ govukButton({
    'text': "Submit"
  }) }}
</form>

{% endblock %}
