{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "govuk_frontend_jinja/components/select/macro.html" import govukSelect %}
{% from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea %}

{% extends "components/base.html" %}

{% block pageTitle %}
    Home
{% endblock %}

{% block content %}
{{ super() }}

<h1 class="govuk-heading-xl">Create or change a DNS entry</h1>

<form action="/submit-dns-request" method="POST">
{{ govukInput({
    'label': {
      'text': "Requestor Name"
    },
    'hint': {
        'text': 'Enter your full name'
    },
    'classes': "govuk-!-width-full",
    'id': "requester_name",
    'name': "requesterName"
  }) }}

  {{ govukInput({
    'label': {
      'text': "MoJ Service Owner"
    },
    'hint': {
        'text': 'Enter the name of the MoJ Service Owner'
    },
    'classes': "govuk-!-width-full",
    'id': "service_owner",
    'name': "service_owner"
  }) }}

  {{ govukInput({
    'label': {
      'text': "Service Area Name"
    },
    'hint': {
        'text': 'Enter the name of the Service Area'
    },
    'classes': "govuk-!-width-full",
    'id': "service_area",
    'name': "service_area"
  }) }}

  {{ govukSelect({
    'id': "business_area",
    'name': "business_area"",
    'label': {
      'text': "Business Area Name"
    },
    'hint': {
        'text': 'Enter the name of the Business Area'
    },
    'items': [
      {
        'value': "hmpps",
        'text': "HMPPS",
        'selected': true
      },
      {
        'value': "hmcts",
        'text': "HMCTS"
      },
      {
        'value': "cjscp",
        'text': "CJSCP"
      },
      {
        'value': "other",
        'text': "Other"
      }
    ]
  }) }}


{{ govukInput({
    'label': {
      'text': "New Domain Name"
    },
    'hint': {
        'text': 'Enter the new domain name you wish to add'
    },
    'classes': "govuk-!-width-full",
    'id': "domain_name",
    'name': "domain_name"
  }) }}


{{ govukInput({
    'label': {
      'text': "New Service Description"
    },
    'hint': {
        'text': 'Enter a brief description of the service that will be using this domain'
    },
    'classes': "govuk-!-width-full",
    'id': "service_description",
    'name': "service_description"
  }) }}


{{ govukInput({
    'label': {
      'text': "Purpose of New Domain"
    },
    'hint': {
        'text': 'Enter the primary purpose of this new domain'
    },
    'classes': "govuk-!-width-full",
    'id': "domain_purpose",
    'name': "domain_purpose"
  }) }}

  {{ govukSelect({
    'id': "record_type",
    'name': "record_type",
    'label': {
      'text': "DNS Record Type"
    },
    'hint': {
        'text': 'Enter the type of DNS record required'
    },
    'items': [
      {
        'value': "ns",
        'text': "NS",
        'selected': true
      },
      {
        'value': "a",
        'text': "A"
      },
      {
        'value': "mx",
        'text': "MX"
      },
      {
        'value': "cname",
        'text': "CNAME"
      },
      {
        'value': "other",
        'text': "Other"
      }
    ]
  }) }}

  {{ govukTextarea({
    'name': "ns_details",
    'id': "ns_details",
    'label': {
      'text': "NS Details (Optional)"
    },
    'hint': {
        'text': 'If NS record is selected, please provide a brief justification for its delegation'
    }
  }) }}

  {{ govukButton({
    'text': "Submit"
    }) }}
</form>

{% endblock %}