{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "govuk_frontend_jinja/components/select/macro.html" import govukSelect %}
{% from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% extends "components/base.html" %}

{% block pageTitle %}
   MoJ DNS Change Request
{% endblock %}

{% block content %}
{{ super() }}

<h1 class="govuk-heading-xl">DNS Change Request</h1>

<h1 class="govuk-heading-s">What is a DNS record?</h1>
<p class="govuk-body">
    A new DNS record is used to map a domain name to an IP address or another domain.
    For example, you might create:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li><strong>A record</strong> to map a domain to an IPv4 address.</li>
    <li><strong>CNAME record</strong> to alias one domain name to another.</li>
</ul>


<h1 class="govuk-heading-s">What type of change do you require?</h1>
<form action="/select-change-type" method="POST">
  {{ govukSelect({
    'id': "change_type",
    'name': "change_type",
    'label': {
    },
    'hint': {
        'text': 'Select the type of DNS change you need'
    },
    'items': [
      {
        'value': "new_hostedzone",
        'text': "New Hosted Zone",
        'disabled': True
      },
      {
        'value': "change_record",
        'text': "Change Existing Record",
        'disabled': True
      },
      {
        'value': "create_record",
        'text': "Create New Record",
        'selected': true
      }
    ]
  }) }}

  {{ govukButton({
    'text': "Next"
    }) }}
</form>

{% endblock %}

